<section>
  <%= render "nav" %>
  <main>
    <p>
      <span>Total categories amount</span>
      <span><%="$#{@categories.joins(:payments).sum(:amount)}"%></span>
    </p>
    <% if @categories.length.positive?%>
      <% @categories.each do |category| %>
        <%= link_to category_path(category) do%>
          <%= render category %>
        <%end%>
      <% end %>
    <%end%>
  </main>
  <div>
    <%= link_to "New category", new_category_path %>
  </div>
</section>