<section>
  <%= render 'show_header'%>
  <p style="color: green"><%= notice %></p>
  <main>
    <p>
      <span>Total transactions amount<span>
      <span><%="$#{@category.payments.sum(:amount)}"%></span>
    </p>
    <%if @payments.length.positive?%>  
      <% @payments.each do |payment| %>
        <%=render partial: 'payment', locals:{payment:payment} %>
      <%end%>
    <%end%>
  </main>
  
  <%# <%= render @category %>

  <div>
    <%= link_to "New transaction", new_category_payment_path(@category) %>
    <%= link_to "Back to categories", categories_path %> 
  </div>

<section>
